*{margin:0; padding:0;}
body{
    background-color: black;
}
.fondo{
    left:0;
    top:20px;
    left: 20px;
    background-color: 	#A9A9A9;
    position: absolute;
    width: 300px;
    height: 450px;
    display: none;

}